.chat-box {
  background-color: #e8eff4;
  border-radius: 10px;
  width: 100%;
  border-style: solid;
  border-color:#E7A044;

} 

.message {
  border-radius:10px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  box-shadow: grey -1px 3px 10px;
  overflow-x: hidden;
  font-size: 12px;
}


.chat-box-send {
  height: 30px;
  width: 100px;
  background: #fff;
  color: #6aa8d1;
  border: 5px solid #6aa8d1;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.chat-box-input {
  height: 20px;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 10px;
  width: 70%; 
}

.messages-list {
  color: black;
  width: 86%;
  height: 150px; 
  overflow: auto;
  padding-left: 0px 15px;
  background-color: #eff2f4;
  border-radius: 10px;
  margin-top: 8px;
  font-size: 15px;
}
